fastapi==0.118.0
uvicorn[standard]==0.37.0
pydantic==2.11.9
pydantic-settings==2.10.1
scikit-learn==1.7.2
joblib==1.5.2
numpy==2.3.3
prometheus-fastapi-instrumentator==7.1.0
python-json-logger==3.3.0
locust